@use "variables" as *;

/* Utilities */
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.opacity {
  opacity: 0.7;
}

/* Loading animation (opcional) */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

/* Extra spacing */
.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Custom scroll */
::-webkit-scrollbar {
  width: $size-scrollbar;
  height: $size-scrollbar;
}

::-webkit-scrollbar-track {
  background: $color-scroll-track;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: $radius-scrollbar;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}
